@import url('https://fonts.googleapis.com/css2?family=Lato&family=Lora&family=Poppins:wght@400;500&family=Roboto+Slab&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(239, 243, 247);
    
}
/* section one styling */

.heading{
    width: 240px;
    height: 52px;
    margin-top: 30px;
    font-size: 16px;
    color: #3A3A3A;
    padding: 4%;
}
.banner{
    display: flex;
    width: 80%;
    padding: 4%;
    


}
.influencers{
    width: 60%;
    font-size: 14px;
    
}
.para-head{
    font-size: 26px;
}
.influencers p{
    font-size: 11px;
}
.banner a{
    text-decoration: none;
    background-color: #bd3064;
    color: white;
    font-size: 11px;
    padding: 5px 20px;
    border-radius: 20px;
    margin-top: 16px;
}


.banner img{
    width: 80%;
    margin:  5%, 10%;
    padding-left: 80px;
}

/* Products Styling */

.product-banner{
    text-align: center;
    font-size: 20px;
    color: #3A3A3A;
    
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px 20px;
    justify-items: center;
    
}
.products{
    width: 200px;
    height: 280px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: white;
    
}
.products .product img{
    width: 200px;
    height: 150px;
}

.product-info h3{
    font-size: 15px;
    font-weight: 500;
    color: #18191F;
    margin: 0;
}
.product-info h4{
    font-size: 10px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.87);
    margin: 0;
}
.fa-star{
    font-size: 10px;
    margin: 0;
    color: rgb(236, 178, 31);

}
.product-info span{
    font-size: 10px;
}
.product-info p{
    color: #787885;
    font-size: 10px;
    letter-spacing: 0.018em;
    margin: 0;
    

}
/* see more styling */

.see-more a{
    text-decoration: none;
    color: #bd3064;
    font-size: 12px;
    font-weight: 300;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 25px;
}

/* Gallery styling */

.photo-gallery h3{
    text-align: center;
}

.photo-album{
    display: flex;
    flex-wrap: wrap;
}
.photo-frame{
    width: 300px;
    height: 170px;
    border: 2px solid goldenrod;
    border-radius: 10px;
    position: relative;
    margin: 10px;
    overflow: hidden;
}
.photo img{
    width: 100%;
    border-radius: 10px;
}
.photo-detail{
    display: none;
    position: absolute;
    width: 300px;
    top: 0;
    color: white;
    padding-left: 2px;
}
.photo-detail h3{
    background-color: rgb(43, 40, 40);
    color: white;
}
.photo-detail p{
    font-size: 12px;
}
.photo-frame:hover .photo-detail{
    display: block;
    background-color: rgba(236, 202, 114, 0.418);
}
.photo-frame:hover{
    transform: scale(1.1);
    transition: transform, 3s, case-in-out;
}



/* footer section styling */

.foot-section{
    height:100px;
    background-color: rgb(2, 2, 36);
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    
    
}
.foot-section h4{
    font-size: 12px;
    margin-bottom: 0;
}
.foot-section p{
    font-size: 10px;
    margin-bottom: 0;
}
.fa-instagram{
    color: white;
    font-size: 10px;
    
}
.fa-twitter-square{
    color: white;
    padding-left: 4px;
    font-size: 10px;
}
.fa-youtube{
    color: white;
    padding-left: 4px;
    font-size: 10px;
}
/*............
 media query
...............*/

/* Mobile Devices */

@media only screen and (max-width:688px)  {
    .banner{
        flex-direction: column;
        
        
    }
    .container{
        grid-template-columns: repeat(1,1fr);
    }
    .photo-album{
        flex-direction: column;
        align-items: center;
    }
    .foot-section{
        width: 100%;
    }
    
}

/* Tablet Devices */

@media only screen and (min-width:689px) and (max-width:992px) {
    .banner{
        flex-direction: column;

    }
    .container{
        grid-template-columns: repeat(2, 1fr);
       
    }
    .photo-album{
        flex-direction: column;
        align-items: center;
    }
    
}


